body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #fff;
  background-color: #18141a;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}