body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #fff;
  background-color: #18141a;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}
.devices {
  display: flex;
}
.devices > i {
  font-size: 20px;
}
.devices > .device {
  display: flex;
  border: 3px solid;
  border-radius: 10px;
  flex-direction: column;
}
.devices > .device > i {
  font-size: 50px;
}